@import './cmps/Bookpreview';
@import './cmps/BookList';
@import './views/BookDetails';
@import './views/AddBook';
@import './cmps/BookFilter';
@import './cmps/Header';
@import './cmps/Navbar';
@import './cmps/AddReview';
@import './cmps/UserMsg';
@import './views/About';
@import './views/BookApp';



body {
    background-color: #0e61a81c;
    overflow-x:hidden;
    
}

* {
    padding:0;
    margin:0;
    font-family: Ubunto,sans-serif ;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.red{
    color:red;
}

.green {
    color:green;
}



@font-face {
    font-family: Caveat;
    src: url('~@/assets/fonts/Caveat/Caveat-Regular.ttf');
}
@font-face {
    font-family: Montserrat;
    src: url('~@/assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Ubunto;
    src: url('~@/assets/fonts/Ubuntu/Ubuntu-Regular.ttf');

}